{% extends 'posts/base.html' %}
{% load django_tables2 %}

{% block content %}

{% load bootstrap4 %}



<div style="margin:30px 0px 30px 0px;" class="content-section">
    <form method='GET'>
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                Name: {{ filter.form.name }}
            </div>
            <div class="col-3" style="margin:17px 0px 0px 0px;">
                Project For: {{ filter.form.project }}
            </div>
            <div class="col-3">
                5'Modification: {{ filter.form.modification_5 }}
            </div>
            <div class="col-3">
                3'Modification: {{ filter.form.modification_3 }}
            </div>
            <div class="col-3">
                internal-Modification: {{ filter.form.modification_internal }}
            </div>
            <div class="col-12">
                Sequence: {{ filter.form.sequence }}
            </div>
            <div class="col-12">
                Purpose: {{ filter.form.purpose }}
            </div>
        </div>
    <input style="margin: 30px 0px 20px 0px" type="submit" class="btn btn-primary" value="Search" />
    </form>
</div>

{% render_table table 'django_tables2/bootstrap4.html' %}

{% endblock %}