{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="content-section" style="margin:30px 0px 100px 0px;">
    <h3><strong>HWLI實驗室order primers 必需流程 Sep. 1, 2019 updated</strong></h3>
<h6>
實驗室目前有兩個primer檔: primer_inventory.xlsx及fluorescence_primer_inventory.xlsx
(group google drive/lab_technical/primer_inventory folder)
只要primer上具有螢光修飾，就請列入後者
**新的primer一律使用數字命名，才有利primer依序存放**
</h6>

    <h6>訂購前</h6>

    <h6>(1) 利用上述兩個excel檔查詢，是否已有相同序列primer。如需再訂購同一primer，請用同一個的命名。如同一序列，但不同修飾，請用同一命名加註(p9-dig, p9-phos)。</h6>
    <h6>(2) **新的primer一律使用數字命名** 在訂購新primer前，請確認最新，尚未使用的名字，並依序命名，如p523。並在excel檔中，填入相關訊息(序列\修飾\訂購人)。這個填寫過程，應該在你訂購時同時發生，否則，後面訂購的人可能用的你的命名。</h6>
    <h6>(3) 請自行和廠商訂購，在訂購單上應填寫你所命名的primer 名字(如p523)及訂購人(if available)。單一primer費用超過$5000，需經老師同意。</h6>

<h6>Primer送達後</h6>
<h6>(4) 如果知道是誰的primer，請放在他桌上。如果不明，請放在白板上，並在slack告知。</h6>
<h6>(5) primer到了後，需將廠商所附之primer spec sheet (紙本，包含詳細序列，修飾，純化， QC data)留存放入new primer spec 的袋子中(在電話旁)，半年度lab-cleanup時會scan建檔(建議你自己拍照一份存底)。因為primer tube上的標籤會因長期反覆解凍而不清楚，紙本是必須的。</h6>
<h6>(6) 粉末狀的primer，在quick spin-down 後，以TE (or water) 稀釋到100 mM，此tube為group stock，必須依序放在實驗室primer box中，並在tube蓋子上方標示p532(例)。</h6>
<h6>**所有primer stock (in original tubes) 必需依序放在實驗室的公用primer box中。**</h6>
<h6>通常在group primer box中會有另一個dilution 放在stock tube旁。</h6>

<h6>** primer 設計請多利用 DNA star/snapgene。</h6>
<h6>** 違反規定，喪失實驗室採購權一個月。</h6>

<h6>如果發現重複命名(或是不按規定命名的)，怎麼辦??</h6>
<h6>(i) 給你的primer 一個新的名字，excel檔中有一個”cross-listed as”，註明清楚新/舊名字。</h6>
<h6>(ii) 在 primer tube 上及蓋子上，註明新名字。</h6>
<h6>(iii) spec sheet 上，註明清楚新名字。</h6>
<h6>(iv) 在自己的紀錄簿及DNA substrate sheet上，註明清楚新名字。</h6>
<h6>-- 很麻煩，所以請在訂購前確認 --</h6>
</div>


<div class="content-section" style="margin:30px 0px 100px 0px;">

    <h1>Primer Input</h1>
    <form method="post" enctype="multipart/form-data">

        <div class="container">
                        {% csrf_token %}
                        {{ form|crispy }}


        </div>

        <input style="margin:30px 0px 30px 30px;" type="submit" class="btn-lg btn-outline-primary" value="submit" "/>

    </form>

</div>

{% endblock %}