{% extends 'posts/base.html' %}

{% block content %}

<!--seq: {{ seq }}-->

<div style="margin:30px 0px 10px 0px;" class="content-section">

    <form method='POST'>
        {% csrf_token %}
        <div class="row">
<!--            <div class="col-3">-->
<!--                Name：{{ primerFilter.form.name }}-->
<!--            </div>-->
            <div class="col-3">
                Modification : {{ primerFilter.form.modification_5 }}
            </div>
<!--            <div class="col-3">-->
<!--                Direction : {{ primerFilter.form.dir }}-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                Sequence : {{ primerFilter.form.sequence }}-->
<!--            </div>-->
<!--            <div class="col-3">-->
<!--                Position：{{ primerFilter.form.position }}-->
<!--&lt;!&ndash;                Set Length of PCR: <input type="number" name="L_set"><br><br>&ndash;&gt;-->
<!--            </div>-->

        </div>


<!--    <button style="margin: 30px 0px 20px 0px" type="submit" class="btn btn-primary" value="Search" name="Search"</button>-->
        <input style="margin: 30px 0px 20px 0px" type="submit" class="btn btn-primary" value="Search" name="Search"/>

    </form>
</div>


<!--<h3><strong>Length of Vector, {{vector_name}}:</strong> {{ L }} bp</h3>-->
<!--&lt;!&ndash;<h3><strong>PCR product Calculating Equation: L-Pf-Pr</strong></h3>&ndash;&gt;-->
<!--<h3><strong>Primer position :</strong> {{primer_position}}</h3>-->

<!--<h3><strong>PCR product:</strong> {{ L_pcr }} bp ({{ primer_name }})</h3>-->

<!--<h6 style="font-family:monospace;">{{ show_seq|linebreaks }}</h6>-->

<form method="POST">
    {% csrf_token %}
    <input style="margin: 30px 0px 20px 0px" type="submit" class="btn btn-primary" value="cal pcr" name="cal" />



 <h1>Primer Search Result</h1>
    <div class="row">


    <div class="col-6">

        <table class="table table-light table-hover">
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">5'Modifi</th>
                <th scope="col">Length</th>
    <!--            <th scope="col">Direction</th>-->
                <th scope="col">Position</th>
    <!--            <th scope="col">Sequence (5' to 3')</th>-->

            </tr>

            {% for primer in primerFilter.qs %}
            {% if primer.position <= 0 %}
            <tr>
                <td><input type="checkbox" value={{primer.id}} name="check_box"/></td>
            <th scope="row"><a href="{% url 'primerinfo' primer.pk %}">{{primer.name}}</th>
                <td>{{primer.modification_5}}</td>
                <td>{{primer.length}}</td>
    <!--            <td>{{primer.dir}}</td>-->
                <td>{{primer.position}}</td>
    <!--            <td>{{primer.sequence}}</td>-->
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="col-6">

        <table class="table table-light table-hover">
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">5'Modifi</th>
                <th scope="col">Length</th>
    <!--            <th scope="col">Direction</th>-->
                <th scope="col">Position</th>
    <!--            <th scope="col">Sequence (5' to 3')</th>-->

            </tr>

            {% for primer in primerFilter.qs %}
            {% if primer.position > 0 %}
            <tr>
                <td><input type="checkbox" value={{primer.id}} name="check_box"/></td>
            <th scope="row"><a href="{% url 'primerinfo' primer.pk %}">{{primer.name}}</th>
                <td>{{primer.modification_5}}</td>
                <td>{{primer.length}}</td>
    <!--            <td>{{primer.dir}}</td>-->
                <td>{{primer.position}}</td>
    <!--            <td>{{primer.sequence}}</td>-->
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

</form>


{% endblock %}