
{% extends 'posts/base.html' %}
{% block content %}
<div style="margin:30px 0px 100px 0px;" class="content-section">

        <table class="table table-light table-hover">
            <tr>
                <th scope="col">Vector Name</th>
                <th scope="col">Sequence (5' to 3')</th>
            </tr>

            {% for vector in vectors %}
            <tr>
            <th scope="row"><a href="{% url 'vector_detail' vector.pk %}">{{ vector.name }}</th>
                <td>{{ vector.sequence }}</td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}